<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>小丸子的blog{% block title %}{% endblock %}</title>

    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">

    <script src="{% static 'js/ie-emulation-modes-warnings.js' %}"></script>


      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

  </head>

 <div class="container" style="max-width:730px;">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'blogs' %}">Blog</a></li>
            <li role="presentation"><a href="{% url 'about' %}">About me</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">小丸子的blog</h3>
      </div>
           <div class="jumbotron">
        <h1>Wanzifa's Blog</h1>
      </div>

 <div>
{% block body %}{% endblock %}
 </div>
          <footer class="footer">
        <p>©wanzifa 2016</p>
      </footer>
 </div>
